:root {
  --white: white;
  --gray: rgb(92, 92, 92);
  --main: rgb(54, 54, 54);
  --light-grey: rgb(225, 225, 225);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  background-color: var(--white);
}

main {
  background-color: var(--white);
  display: flex;
}

.mt-main {
  margin-top: 15%;
}

/* Navbar */

.chef-icon {
  margin-top: -7px;
}

.collapse.navbar-collapse {
  margin-top: 2%;
}
.navbar {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(246, 246, 246, 0.972);
  box-shadow: 0 0 10px gray;
  position: fixed;
  width: 100%;
  z-index: 22;
  top: 0px;
  left: 0px;
}

.navbar-light .navbar-brand {
  color: orange;
  font-size: 1.8em;
  font-weight: 600;
  margin-left: 0.5em;
}
.navbar-light .navbar-brand:hover {
  color: rgb(99, 99, 99);
  transition: width 2s;
  font-size: 1.85em;
}

.navbar-light .navbar-nav .nav-link {
  position: relative;
  color: rgb(82, 82, 82);
  font-size: 1.15em;
  font-weight: 300;
  margin-right: 0.8em;
  margin-bottom: 20px;
  text-decoration: none;
  letter-spacing: 0.07em;
  justify-content: space-evenly;
  margin-left: 1.5em;
}

.navbar-light .navbar-nav .nav-link:hover {
  font-weight: 500;
  color: rgb(99, 99, 99);
}

.navbar-light .navbar-toggler {
  border-color: transparent;
}

li.nav-item {
  margin-left: 0%;
}

.plus-btn {
  color: orange;
  font-size: 1.2em;
  font-weight: 200;
}
.plus-btn:hover {
  color: black;
}

.tooltip-1 {
  position: relative;
  display: inline-block;
}

.tooltip1text {
  font-size: 0.8em;
  font-weight: 500;
  /* margin-left: 10px; */
}

.tooltip-1 .tooltip1text {
  visibility: hidden;
  width: 8em;
  background-color: orange;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  /* padding: 2px 1px 2px 1px; */
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.tooltip-1:hover .tooltip1text {
  visibility: visible;
  opacity: 1;
}

/* Cards */
/* .top-cards {
  margin-bottom: 3%;
  justify-content: center;
  display: flex;
} */

.small-cards {
  justify-content: center;
  display: flex;
  margin-bottom: 3%;
}

.btn-orange {
  background-color: orange;
  color: var(--white);
}
.btn-orange:hover {
  border: 2px solid orange;
  transition: width 2s;
  color: rgb(99, 99, 99);
}
.signup-btn {
  background-color: rgb(154, 154, 154);
  color: var(--white);
}
.signup-btn:hover {
  border: 2px solid orange;
  background-color: orange;
  transition: width 2s;
  color: rgb(99, 99, 99);
}

.delete-btn {
  background-color: rgb(154, 154, 154);
  color: var(--white);
}
.delete-btn:hover {
  border: 2px solid orange;
  background-color: orange;
  transition: width 2s;
  color: rgb(99, 99, 99);
}

.card-text,
.card-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* recipe page */
h4 {
  font-weight: 500;
}

/* footer */
.py-5 {
  padding-top: 2em !important;
  padding-bottom: 2em !important;
}

h2.fs-5 {
  color: orange;
  font-weight: 600;
}

.chef {
  margin-bottom: 10px;
}
a {
  text-decoration: none;
  color: rgb(129, 129, 129);
}
a:hover {
  color: orange;
}

footer {
  text-align: center;
  background-color: rgba(246, 246, 246, 0.945);
  margin-top: 1.5em;
}

h5 {
  font-size: 1.1em;
  font-weight: 600;
  color: var(--main);
}

.list-inline-item {
  padding-left: 2em;
  margin-top: 1%;
  margin-bottom: 1%;
}

.list-inline-item a {
  position: relative;
  color: rgb(129, 129, 129);
  text-decoration: none;
}

.list-inline-item a:hover {
  color: orange;
}

/* Mobile Responsive */

@media screen and (max-width: 576px) {
  .navbar .navbar-brand {
    font-size: 1.4em;
  }

  h3,
  .nav-link {
    font-size: 1.3em;
  }

  h4 {
    font-size: 1.2em;
    font-weight: 600;
  }

  p {
    font-size: 1em;
  }
  h5 {
    font-size: 0.9em;
    font-weight: 600;
  }
}

@media screen and (max-width: 478px) {
  .navbar .navbar-brand {
    font-size: 1.2em;
  }

  h3,
  .nav-link {
    font-size: 1.2em;
  }
  h4 {
    font-size: 1.1em;
    font-weight: 600;
  }

  p {
    font-size: 1em;
  }

  h5 {
    font-size: 0.9em;
    font-weight: 600;
  }
}

/* icon */
.icons8-menu {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iMjQiIGhlaWdodD0iMjQiCnZpZXdCb3g9IjAgMCAxNzIgMTcyIgpzdHlsZT0iIGZpbGw6IzAwMDAwMDsiPjxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0ibm9uemVybyIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIHN0cm9rZS1saW5lY2FwPSJidXR0IiBzdHJva2UtbGluZWpvaW49Im1pdGVyIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHN0cm9rZS1kYXNoYXJyYXk9IiIgc3Ryb2tlLWRhc2hvZmZzZXQ9IjAiIGZvbnQtZmFtaWx5PSJub25lIiBmb250LXdlaWdodD0ibm9uZSIgZm9udC1zaXplPSJub25lIiB0ZXh0LWFuY2hvcj0ibm9uZSIgc3R5bGU9Im1peC1ibGVuZC1tb2RlOiBub3JtYWwiPjxwYXRoIGQ9Ik0wLDE3MnYtMTcyaDE3MnYxNzJ6IiBmaWxsPSJub25lIj48L3BhdGg+PGcgZmlsbD0iIzY2NjY2NiI+PHBhdGggZD0iTTE0LjMzMzMzLDM1LjgzMzMzdjE0LjMzMzMzaDE0My4zMzMzM3YtMTQuMzMzMzN6TTE0LjMzMzMzLDc4LjgzMzMzdjE0LjMzMzMzaDE0My4zMzMzM3YtMTQuMzMzMzN6TTE0LjMzMzMzLDEyMS44MzMzM3YxNC4zMzMzM2gxNDMuMzMzMzN2LTE0LjMzMzMzeiI+PC9wYXRoPjwvZz48L2c+PC9zdmc+")
    50% 50% no-repeat;
  background-size: 100%;
}

/* account page */
.form-top {
  width: 50%;
  margin-bottom: 3%;
}

.step {
  font-size: 14px;
  font-weight: 500;
}

/* recipes page */
.img-center {
  text-align: center;
}

.recipe-image {
  width: 50%;
}

.text-orange {
  color: orange;
  font-weight: 600;
  margin-top: 8%;
}

.mt-x {
  margin-top: 5%;
  font-weight: 600;
  line-height: 2em;
  color: rgb(77, 77, 77);
  text-align: left;
}

.recipe-text {
  text-align: left;
}

.text-left {
  text-align: left;
}

.table-border {
  border: transparent;
}
td {
  text-align: left;
}

/* account page */
.account-pg-btn {
  display: flex;
  justify-content: space-between;
}

/* account with no recipe page */
.welcome {
  font-size: 1.1em;
  letter-spacing: 0.085em;
  font-weight: 600;
}

.user {
  color: orange;
  font-weight: 700;
}
